html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #B2D963;
}

h1, h2, h3, h4, h5, h6 {
    color: #1E211F;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

ul.nav, ul.phone {
    list-style-type: none;
    margin: 1em;
    padding: 0;

}

li.nav {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 1.25em
}

li.phone {
    display: inline-block;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.25em;
}

a.nav {
    display: inline;
    background: #889FCF;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 1em;
    color: #4A2B25;
    font-size: 1.25em;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

a.nav:hover {
    color: #291613;
    text-decoration: underline;
}

a.nav img {
    vertical-align: bottom;
}

#mainpage_backgound {
    max-width: 800px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}

#mainpage_text {
    background-image: url("/images/homeBG_faded.jpg");
    text-align: left;
    color: white;
    font-size: 1.25em;
    margin: 0 auto;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em;
}
